<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jovian Careers</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/style.css')}}"
    />
  </head>
  <body>
    <main id="container">
      <h1>Jovian Careers</h1>
      <img
        src="/static/images/career.jpg"
        id="banner"
        alt="career banner"
        height="420"
      />
      <h2>About Jovian</h2>
      <p class="body-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error ex autem
        eaque voluptate libero ullam nulla voluptas officiis veritatis, fugit
        placeat asperiores pariatur quae repellendus numquam nesciunt sunt
        corrupti vel corporis? Similique accusamus, fugit laboriosam consequatur
        impedit hic quod in omnis quo rem blanditiis rerum dignissimos dolorum
        nemo eum quidem explicabo? Rerum, error omnis quam labore possimus earum
        consectetur reiciendis.
      </p>
      <h2>Open Positions</h2>
      <p class="body-text">show jobs here</p>
      <div id="btn">
        <button>Contact Us</button>
      </div>
      <p>Copyright 2023, Emir</p>
    </main>
  </body>
</html>
