<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jovian Careers</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/style.css')}}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% include 'nav.html' %}
    <img
      src="/static/images/career.jpg"
      id="banner"
      alt="career banner"
      class="img-fluid"
    />
    <main class="container">
      <h1 class="text-center mt-4 mb-4">{{company_name}} Careers</h1>

      <div class="row" style="margin-bottom: 16px">
        <div class="col-6">
          <p class="lead">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error ex
            autem eaque voluptate libero ullam nulla voluptas officiis
            veritatis, fugit placeat asperiores pariatur quae repellendus
            numquam nesciunt sunt corrupti vel corporis? Similique accusamus,
            fugit laboriosam consequatur impedit hic quod in omnis quo rem
            blanditiis rerum dignissimos dolorum nemo eum quidem explicabo?
            Rerum, error omnis quam labore possimus earum consectetur
            reiciendis.
          </p>
        </div>
        <div class="d-none d-md-block col-6">
          <img
            src="/static/images/people.jpg"
            alt="people"
            style="height: 320px; border-radius: 4px"
          />
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>{% for job in jobs %} {% include 'jobItem.html' %} {% endfor %}</div>
      <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
      </div>
    </main>
    {% include 'footer.html' %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
